body{
    min-width: 290px;
    user-select: none;
}
li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}
button{
    height: 32px;
    font-size: inherit;
    margin: 5px;
    border-radius: 10px;
    padding: 2px 10px;
}

ul {
  list-style: none;
  margin:0;
  padding:0
}
li {
  padding: 5px;
  background:#eee
}
#dummyCanvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@keyframes flash{
    0% {background-color: rgba(125,125,125,0.6);}
    50% {background-color: yellow;}
    100% {background-color: rgba(125,125,125,0.6)}
}
.faultSnackbar{
    position: fixed;
    bottom:10px;
    width: 800px;
    margin-left: 100px;
    z-index: 2;
    background: grey;
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.faultSnackbar button{
    float: right;
}
.npTable{
    font-size:16px;
    table-layout: fixed;
}
.npTable thead tr {
        display: block;
        position: relative;
        
}
.npTable td{
    padding-left: 7px;
    padding-right: 7px;
}
.npTable tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 230px;
}
.mtab{

}
.mtab td{
    /*width:200px;*/
    white-space: nowrap;
}
.logo{
    height: 72px;
    margin-right: 20px;
}
.mbGroupCont{
    border:1px solid black;
}
.buttCell button{
   height: 60px;
}
.buttCell button::after{
    background-size: contain;
    height: 50px;
    width: 50px;
    margin-top: -10px;
    background-repeat: no-repeat;

    display: inline-block;
}
.pbDiv{
    display: inline-block;
}
.pbDiv button{
    height: 50px;
    background: transparent;
    border: none;
    padding: 0px 0px;
    top: 4px;
    margin: 1px;
    position: relative;
    background: white;
    border-radius: 25px;
 }
.pbDiv button::after{
    background-size: contain;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 0px 0px;

}
.cbDiv{
    display: inline-block;
}
.cbDiv button{
    height: 50px;
    background: transparent;
    border: none;
    padding: 0px 0px;
    top: 4px;
    margin: 1px;
    position: relative;

 }
.cbDiv button::after{
    background-size: contain;
    height: 60px;
    width: 60px;
    display: inline-block;
    padding: 0px 0px;

}
.pbCont{
    display: inline-block;
    width: 104px;
    background-color: grey;
    float: right;
    position: relative;
}
/*.pbCont::after{
    position: absolute;
    content: ' ';
    height: 100%;
    z-index: -1;
    display: inline-block;
    top: 0px;
    width: 44px;
    left: 83px;
    background: wheat;
    border-radius: 24px;

}
.pbCont::before{
    position: absolute;
    display: inline-block;
    content: ' ';
    height: 100%;
    width: 44px;
    top: 0px;
    left: -20px;
    background-color: wheat;
    z-index: -1;
    border-radius: 24px;
}*/
.pbContain{
    width: 138px;
    overflow: hidden;
    position: relative;
    height: 46px;
    display: inline-block;
    margin-bottom: -2px;
    
}
.playButton::after{
    content: " ";
    background: url('../assets/playButton.png');
    background-repeat: no-repeat;
}
.circleButton::after{
    content: " ";
    background: url('../assets/circle.png');
    background-repeat: no-repeat;
}
.playButtonInv::after{
    content: " ";
    background: url('../assets/playButton.png');
    transform: scaleX(-1);
    background-repeat: no-repeat;
}
.keyboardInputButton{
    display: inline-block;
  width: 195px;   
}
.round-bg{
    background: white;
  /*  border: 1px black solid;*/
    border-radius: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
}
}
.login::after{
    float: right;
    content:" ";
    background:url('../assets/lock.svg');
    

}
.find::after{
    float: right;
    content:" ";
    background:url('../assets/search.svg');
}
.home::after{
    height: 50px;
    width: 50px;
    float: right;
    content:" ";
    background:url('../assets/home.svg');
}
.prefInterface{
    min-height: 200px;
    padding: 10px;
    border: 0px solid gray;
    box-shadow: inset 0 0 25px 11px rgba(128, 128, 128, 0.3);
}
.multiBankUnit{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    margin-top: 30px;
}
.customSelect{
    height: 30px;
    width: 130px;
    margin-bottom: 8px;
   display: inline-block;
}
.customSelect select{
    font-size: 18px;
    height: 30px;
    width: 130px;
    padding: 5px;
    background: white;
}
.custom-modal{
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden;
    overflow-y:  auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-x{
    float: right;
    display: block;
    width: 40px;
}
.modal-x svg{
    display: block;
   
}
.close-x {
    stroke: white;
    fill: transparent;
     stroke-linecap: round;
  stroke-width: 4;
}
.modal-content{
    background-color: #fefefe;
    /* margin: 15% auto; */
    /* margin-top: -30px;*/
    padding: 20px;
    border: 1px solid #888;
    /* width: 80%; */
    border-radius: 10px;
    top: 0px;
    position: relative;
    border: 0px solid gray;
    box-shadow: inset 0 0 29px 14px rgba(128, 128, 128, 0.3);

    /* z-index: -1;/* Could be more or less, depending on screen size */
}
.modal-close{
    left: -24px;
    position: relative;
    width: 48px;
    height: 48px;
    padding: 0px;
    /* margin-top: 15%; */
    margin-bottom: -20px;
    border-radius: 36px;
    border: 1px solid #eee;
    background-color: #fff;
    z-index: 8;
}
.innerDiv{
    background: #ddd;
}
.modal-outer{
    position: fixed;
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.tickerBox{
   /* margin-right: 6px;*/
    
}
.smCell{
   /* width: 130px;*/
}
.statCell{
    display: inline-block;
    width: 85px;
}
.liveView{
    height: 90px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    line-height: 1.5;
}
.multiScanUnit .liveView{
    height: 180px;
}
.inactive .liveView {
    background: grey;
}
.faultactive .liveView{
    background: rgba(255, 118, 0, 0.5);
}
.detInfo{
    line-height: 1.3;
}
.calib{
    font-size: 25px;
}
.calib td{
    padding: 5px;
    
}
.slantedRight{
    height: 263px;
    width: 250px;
    background: #362c66;
    border-radius: 0px 50px 0px 0px;
    position: relative;
    display: inline-block;
    z-index: 2;
      box-shadow: 0px 0px 0px 10px #818a90;

}
.slantedRight::after{
  background: #362c66;
    content: "";
    position: absolute;
    top: 37px;
    left: 41px;
    height: 0px;
    width: 0px;
    border-radius: 30px 0px;
    border: 113px solid #362c66;
    transform: rotate(80deg);
    z-index: -1;
    box-shadow: 0px 0px 0px 10px #818a90;
}
.slantedLeft{
    height: 263px;
    width: 250px;
    background: #362c66;
    border-radius: 50px 0px 0px 0px;
    position: relative;
    display: inline-block;
    z-index: 2;
    box-shadow: 0px 0px 0px 10px #818a90;
}
.slantedLeft::before{
    background: #362c66;
    content: "";
    position: absolute;
    top: 37px;
    left: -17px;
    height: 0px;
    width: 0px;
    border-radius: 0px 30px;
    border: 113px solid #362c66;
    transform: rotate(280deg);
    z-index: -1;
    box-shadow: 0px 0px 0px 10px #818a90;
}

.mainView{
    height: 200px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
}
.hasChild::before{
    /*position:fixed;*/
    content: url('../assets/angle-right.svg');
        display: inline-block;
    height: 32px;
    vertical-align: bottom;
}
.hasChild label{
    margin-left: 2px
}
.settingsDiv{
   padding: 10px;
    /*border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    min-height: 200px;
    margin-top: -17px;*/
}
.defCont{
    padding: 10px;
    border: 0px solid gray;
    margin: 5px;
    min-width: 380px;
    box-shadow: inset 0 0 25px 11px rgba(128, 128, 128, 0.3);
}
.setNav{
    padding: 5px;
}
.landingMenuTable{
    width: 100%;
}
@media (min-width: 1290px) and (orientation: landscape) {
   /* .liveView{
   /*    width: 40%;
        display: inline-block;
          padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    }
    */

    .mainView{
        min-height: 200px;
         padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    }
    .settingsDiv{
   
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    min-height: 200px;
  
    }
}
.statBar table{
    width: 100%

}
.statBarMB{
        border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    
   
    
}
.statBarMB table{
    width: 100%;
    line-height: 20px;
}
.statBarMB .namelabel{
    border: 1px solid grey;
    padding: 1px;
    padding-left: 4px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: -16px;
    background: #f1e8e8;
    width: 10px;
    margin-bottom: 4px;
    font-size: 10px;
}
.intNavTable{
    border-spacing: 0px;
    border-collapse: collapse;
    border-color: transparent;
    /* margin-left: -1px; */
    /* margin-right: auto; */
    position: relative;
    text-align: center;
    margin-top: 10px;
}
.intNavTable td{
    padding: 0px;
}
.inactive .statBarMB{
    background: grey;
}
.faultactive .statBarMB{
    background: rgba(255, 118, 0, 0.5);
}
.mobCell{
    width: 100%
}
.closeIcon{
    width: 30px;
}

.ledClass{
    width: 130px;
}
.ledCell{
    align-content: right;
}
.ledClass label{
    width: 111px;
    display: inline-block;
}  
.example_path {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 16px;
    background: #ddd;
    /*border: 3px solid #000;*/
}
.noPadding{
    border-spacing:0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}
.noPadding td{
    padding: 0px;
}


.example_path .example_block {
    position: absolute;
    width: 30px;
    height: 10px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    white-space: nowrap;
    margin-left: -15px;
}
.example_path_i {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 16px;
    background: #ddd;
    margin-bottom: 1px;
    /*border: 3px solid #000;*/
}

.example_path_i .example_block_i {
    position: absolute;
    width: 30px;
    height: 16px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    white-space: nowrap;
    margin-left: -15px;
}
.panelControls{
    width: 100%;
}

.panelControls-mobile table{
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
.panelControls-mobile td{
    vertical-align: top;

}

.panelControls table { table-layout: fixed; 
    margin-left: auto;
    margin-right: auto;
    }
.panelControls td { width: 100px; 
    vertical-align: top;
}
.sItem{
    padding-left: 10px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    border-radius: 10px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    
}
.sItem label{

  /*  width: 300px;*/
   
}

.txtLeft{
    text-align: -webkit-right;
}
.panelButton{
   
    
    cursor:pointer;
    background-color:#eee;
    color:#7B8585
    height: 40px;
    width: 125px;
    font-size: 18px;
    
}
.ledBar{
    font-size:16px;
}
.ledBar td{
   vertical-align: top;

}
.mbTable{
    width: 100%;
}
.mbTable td{
    border: black 1px solid;
}
.panelTitle{
   
    white-space: pre;
    text-align: center;
}
.panelTitle b{
    color: orange;
}
.led{
    width:14px;
    height:14px;
    display: inline-block;
}
.ledi{
    width:7px;
    height:14px;
    display: inline-block;
}
.pButton::after{
    content: url('../assets/angle-up.svg');
    width: 10px;
}

.mButton::after{
    content: url('../assets/angle-down.svg');
}

.lButton::after{
    content: url('../assets/angle-left.svg');
}

.rButton::after{
    content: url('../assets/angle-right.svg');
}
.dtmiTab{
    font-size:26px;
}
.dtmiTab td{
   line-height: 45px;
   padding-right: 5px;
   text-align: center;
}
.panelDisplay table{
    margin-left: auto;
    margin-right: auto;
}
.treeNode .innerDiv{
    margin-left: 5px;
}
.navItem{
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 1px;
    border: 1px solid black;
    cursor: pointer;
}
.internalContainer{
  border: 1px solid black;
}
.settingDisplay{
    margin-left: auto;
    margin-right: auto;
    width: 610px;

}
.bbut{
    float:left;
    display: inline-block;
    margin-right: -70px ;
}
.tabNav{
    margin-left: auto;
    margin-right: auto;
    width: 650px;

}
.volatileDisplay{
    margin-left: auto;
    margin-right: auto;
    width: 610px;
}
.buttCell button{
    border: none;
    background: transparent;
    
}

.menuTable h1::after{
    width: 100%;
    border-bottom: none;
}
.menuTable h1{
    margin: 0px;
}
.menuTable{
    width: 100%;
    background-color: #E6E6E6;
    border-bottom: 2px solid #CCC;
}
.tickerCell{
    width: 200px;
}
.buttCell{
    width: 46px;
    height: 100px;
}
.flRight{
    float: right;
    margin-right: 5px;
}

.backButton::before{
    /*float: left;*/
    content:url('../assets/angle-left.svg');
}
.config::after{
    float: right;
    content: " ";
    background: url('../assets/config.svg');
}
.config_active::after{
    float: right;
     content: " ";
   
    background:url('../assets/config_active.svg');
}
.burger::after{
    float: right;
    content:url('../assets/burger.png');
}
.burger_active::after{
    float: right;
    content:url('../assets/burger.png');

}
.attention::after{
    float: right;
     content: " ";
    background:url('../assets/attention.svg');
}
.attention_clear::after{
    float: right;
     content: " ";
    background:url('../assets/attention_h.svg');
}
.menuItem h3{
    padding-left: 10px;
    display: inline-block;
    width: 80%;
}
.titleSpan_wc::after{
    float: right;
    content:url('../assets/angle-right.svg');
    margin-top: 5px;
}

.multiBankUnit .nameLabel{
    border: 1px solid grey;
    padding: 8px;
    border-radius: 10px;
    margin-top: -32px;
    margin-left: -16px;
    background: #f1e8e8;
    width: 136px;
    margin-bottom: 15px;
    height: 30px;
}
.menuCategory{
    border-top-width: 2px;
    border-top-style: groove;
    border-top: #dddddd
}
.collapsed::before{
    
   /* content:url('../assets/angle-down.svg');
    position: relative;
    top: 5px;*/
}
.expanded::before{
  /* content:url('../assets/angle-up.svg');
    position: relative;
    top: 5px; */ 
}
.selectNode{
    padding-left: 15px;
    border-top-style: groove;
}
.menuItem{
    border: solid rgba(0, 0, 0, 0.49) 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.productEditor{

    min-height: 200px;
}
.checkmark{
    height: 20px;
}
.mainContTable{
    width: 100%;
    border-spacing: 0px;
}