/**Styling general elements on the page**/
html, body {
    width : 100%;
    height: 100%;
    overscroll-behavior: none;
    touch-action: none;
}
body{
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    background: #e1e1e1;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#content{
    min-height: 100%
}
.landingMenuTable{
    width: 100%;
}
button{
    height: 32px;
    font-size: inherit;
    margin: 5px;
    border-radius: 10px;
    padding: 2px 10px;
    border: none;
}
.circularButton{
    text-align: center;
    width:191px;
    background-color: #5d5480;
    color:white;
    position: relative;
    margin-top: 3px;
    margin-right: auto;
    margin-left: auto;
    height:50px;
    overflow: hidden;
    border-radius: 25px;
    padding: 3px;
    border: 1px solid rgb(129,138,144);
    box-shadow: 0 0 6px black;
}
.circularButton_FT{
    text-align: center;
    width:191px;
    background-color: #a9a9a9;
    color:black;
    position: relative;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    height:50px;
    overflow: hidden;
    border-radius: 32px;
    padding: 3px;
    border: 8px solid rgb(129,138,144);
    box-shadow: 0 0 6px black;
}
.touchActive_FT{
    background-color: #5d5480;
    color:#e1e1e1;
}
.touchActive{
    background-color: #332a5f;
    color:#e1e1e1;
}
.modal-close{
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 46px;
    background: radial-gradient(#bbb,#bbb 68%, transparent 68%);
    z-index: 4;
    float: right;
    right: -20px;
    top: -18px;
}
.custom-modal{
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    margin-left: auto;
    margin-right: auto;
    height: 100%; /* Full height */
    overflow-x: hidden;
    overflow-y:  hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-outer{
    position: relative;
    margin-top: 25px;
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.modal-content{
    background-color: #362c66;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    top: 0px;
    position: relative;
    border: 0px solid gray;
    max-height: 500px;
}
.closeIcon{
    width: 50px;
}

/**End of styling general elements on the page**/

/**Styling Navigation section**/
.mixtureSection{
    width:500px;
    background-color: #cccccc;
    border-radius:25px;
    display: inline-block;
    margin-top:20px;
    text-align: center;
    padding: 8px;
    margin-left:50px;
}
.mixtureName{
    float:right;
    width:300px;
    font-size: 22px;
    position: relative;
    left:-10px;
}
.status{
    width:320px;
    background-color: #888888;
    border-radius:25px;
    float:right;
    font-size: 18px;
}
.logbuttCell{
    width: 46px;
    height: 100px;
}
.logbuttCell button{
    height: 50px;
 }
.logbuttCell button{
    border: none;
    background: transparent;
}
.logbuttCell button::after{
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-top: -10px;
    background-repeat: no-repeat;
    display: inline-block;
}
.login::after{
    height: 40px;
    width: 40px;
    float: right;
    content:" ";
    background:url('../assets/locked.svg');
}
.logout::after{
    height: 40px;
    width: 40px;
    float: right;
    content:" ";
    background:url('../assets/unlocked.svg');
}
.confbuttCell{
    width: 46px;
    height: 100px;
}
.confbuttCell button{
    height: 60px;
}
.confbuttCell button::after{
    background-size: contain;
    height: 48px;
    width: 50px;
    margin-top: -10px;
    background-repeat: no-repeat;
    display: inline-block;
}
.confbuttCell button{
    border: none;
    background: transparent;
}
.config::after{
    float: right;
    content: " ";
    background: url('../assets/config.svg');
}
.config_w::after{
    float: right;
    content: " ";
    background: url('../assets/config_w.svg');
}
/**Styling the bottom sections**/
.teaAndFlavourSection{
    width:670px;
    height:250px;
    background-color: #cccccc;
    border-radius:25px;
    padding: 10px;
}
.addBackSection{
    width:300px;
    height: 250px;
    background-color: #cccccc;
    border-radius: 25px;
    margin-right:-5px;
    margin-top: -270px;
    float: right;
    padding: 10px;
    
}
.sideButtonsSection{
    width:250px;
    height:640px;
    background-color: #cccccc;
    border-radius: 25px;
    margin-left:20px;
}
.lineGraphSection{
    width: 1000px;
    height: 260px;
    margin-top:10px;
    background-color: #cccccc;
    border-radius: 25px;
    padding:10px;
}
/**Styling tables **/
.categoryTable{
    width:100%;
    text-align: center;
    font-size: 18px;
}
.addBackTable{
    width:100%;
    height: 100%;
    text-align: center;
}










